head
  script(data-main="javascripts/main",src="/javascripts/libs/require/require.js")
.navbar.navbar-fixed-top
  .navbar-inner
    .container
      a.brand(href='#') S.I.C.D
      ul.nav
        li
          a(href='/sistema') Sistema              
.container-fluid
  .span2
    //SideBar
    .well.side-nav
      #sidebar
        ul.nav.nav-list
          li.nav-header Opciones
          #sidebar-opciones
  .span10
    #page
