!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/backbone-forms.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
  body
    #content!= body
  hr
  footer
    p(style='text-align:center')
    &copy; Sistema Informatico de Control