head
  script(data-main="javascripts/sistema/main",src="/javascripts/libs/require/require.js")
.navbar.navbar-fixed-top
  .navbar-inner
    .container
      a.brand(href='#') S.I.C.D Sistema
      ul.nav
        li.active
          a(href='#/devices') Dispositivos
.container-fluid
  #page
    h1 Groso
