<div class='span4'>
  <h2>Datos Generales</h2>
  <div class='span6'>
  	<form class='well'><div id='frmnuevodevice'></div></form>
    <h2>Caracteristicas</h2>
    <div id='frmplus'>
      <form class='well form-inline'>
      	<input type='text' class='span2' placeholder='NombrePLU' id='newplusNombre' />
      	<input type='text' class='span2' placeholder='ValorPLU' id='newplusValor' />
      	<a href='#plus/new' id='AddPlus' class='btn btn-success'>Agregar</a>
      </form>
    </div>
  </div>
</div>       