<h1> Productos <small>Construccion</small></h1>
<br>
  <div id='contenido'>
    <div id='frmnuevodispositivo' class='modal hide fade in'>
    </div>
    <div id='frmeditardispositivo' class='modal hide fade in'>
    </div>
    <a href='#frmnuevodispositivo' id='frmnuevo' > <i class='icon-file'></i>Nuevo Dispositivo</a>

    <div class='span10'>
      <div id='listdevices'><h2>Listado</h2><table class="table table-striped" id='listdevicetable'><thead><tr><th>Nombre</th></tr></thead></table></div>
    </div>  
  </div>